* {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
}

h1 {
    position: relative;
    text-align: center;
    color: #34aa65;
    text-shadow: 2px 2px 4px #194029,
                 3px 4px 4px #0f2418,
                 4px 6px 4px #142e1e,
                 5px 8px 4px #13301f;
}

.title-1 {
    position: absolute;
    top: 10vh;
    left: 2vw;
    color: #34aa65;
    text-shadow: 2px 2px 4px #194029,
                 3px 4px 4px #0f2418,
                 4px 6px 4px #142e1e,
                 5px 8px 4px #13301f;
}

.correspondence {
    position: absolute;
    top: 20vh;
    left: 45vw;
}

.text-form {
    position: absolute;
    top: 20vh;
    left: 2vw;
    max-width: 500px;
    margin: 0 auto;
}

.text-group {
    margin-bottom: 3vh;
}

.mail-btn {
    position: relative;
}

.text-input {
    width: 100%;
    padding: 10px;
    border: 3px solid #2c8853;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    font-size: 16px;
    min-height: 100px;
    resize: vertical;
}

.text-input:focus {
    outline: none;
    border-color: #2c8853;
    box-shadow: 0 0 5px 2px rgba(16, 162, 123, 0.736);
}

.text-output {
    width: 50vw;
    height: 75vh;
    padding: 10px;
    border: 3px solid #2c8853;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    font-size: 16px;
    resize: none;
}

.text-output:focus {
    outline: none;
}

.mail-btn {
    width: 7vw;
    height: 5vh;
    background: #2c8853;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: default;
    transition: transform 0.4s cubic-bezier(0.1, 0.5, 0.5, 0.9);
}

.mail-btn:hover {
    background: #50f394;
    transform: scale(1.05);
}

.mail-btn:focus {
    transform: scale(1.05);
}

.mail-btn:active {
    transform: scale(0.98);
}